p {margin:3px;}
.beer p{margin:0px;}
.beer_value {color:#333333;}
.beer_title {font-weight:normal;}
h1.loading-title {color:#DDDDDD;
					text-align: center;
					position: absolute;
  					top: 20%;
 					left: 35%;
					}
h2.beer {font-weight:normal;}

.other_reviews {border-top:1px solid #CCCCCC;}
#other_rating {font-size:120%;
				color:#d83636;
				margin:4px 0px;}
#other_rating_info {font-size:80%;}
.review {clear:both;}
.review input {display:block;
				margin:3px 0px 10px 0px;
				}



.rating {
    float:left;
}
.header {float:left;
			clear:none;
			display:inline;}
.search_login {float:left;
				display:inline;}
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
	content:'\2605';
    }

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}